@use '../../styles/design-system.scss' as *;
@import "../utils.scss";

h3.invert{
    @include invert();
};

h3.invert0 {
  @include invert(); 
  background-color: #FBF8F3 !important; 
  color: #232323 !important;
}

h3.invert1 {
  @include invert(); 
  background-color: #FCD3AF !important; 
}

h3.invert2 {
  @include invert(); 
  background-color: #F9AA98 !important; 
}

h3.invert3 {
  @include invert(); 
  background-color: #E38BA3 !important; 
}

h3.invert4 {
  @include invert(); 
  background-color: #C07EAE !important; 
}

h3.invert5 {
  @include invert(); 
  background-color: #9D72AE !important; 
}

h3.invert6 {
  @include invert(); 
  background-color: #796D91 !important; 
}

h3.invert7 {
  @include invert(); 
  background-color: #636160 !important; 
}

h3.invert8 {
  @include invert(); 
  background-color: #383736 !important; 
}


