@use '../../styles/design-system.scss' as *;

.layerToggleContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    // styles for mobile-lg (480px) and greater widths,
    @media (max-width: 700px) {
        top: auto;
        bottom: 10px;
        right: 10px; 
        // width: calc(100% - 20px); // Make it full-width with some padding
        z-index: 10;
    }
}

.noMarginTop {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.label {
    padding: 5px;
}