// For plot wrapper observable graphs

.plotWrapper{
    width: 700px;
    margin: 0 auto;
}

:global(.plotWrapper span) {
    font-size: 16px !important;
    // display: inline-flex;
    // align-items: center;
    // gap: 0.4em;
    // margin-right: 1em;
  }