// For plot wrapper observable graphs

.plotWrapper{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-family: 'Lexend', sans-serif;
}

.plotPageWrapper {
    max-width: 90% !important;
    margin: 0 auto;
    padding: 0 1rem;
}